<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="{% url 'home page' %}">Home</a></li>
                <li><a href="{% url 'store page' 'all'%}">Categories</a></li>
                <li><a href="{% url 'store page' 'laptops'%}">Laptops</a></li>
                <li><a href="{% url 'store page' 'smartphones'%}">Smartphones</a></li>
                <li><a href="{% url 'store page' 'cameras'%}">Cameras</a></li>
                <li><a href="{% url 'store page' 'accessories'%}">Accessories</a></li>
                {% if request.user.is_staff %}
                    <li><a href="{% url 'create item' %}">Add Item</a></li>
                {% endif %}
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>