<div class="col-md-6">
    <div class="header-search">
        <form method="GET" action="{% url 'search result' %}">
            <select name="categories" class="input-select">
                <option value="all">All Categories</option>
                <option value="laptops">Laptops</option>
                <option value="smartphones">Smartphones</option>
                <option value="cameras">Cameras</option>
                <option value="accessories">Accessories</option>
            </select>
            <input name="search_text" class="input" placeholder="Search here">
            <button class="search-btn">Search</button>
        </form>
    </div>
</div>