{% extends 'base.html' %}
{% block content %}
        <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->

                    {% include 'store/filter aside.html' %}
                <!-- /ASIDE -->
                <!-- STORE -->
                <div id="store" class="col-md-9">
                    <!-- store products -->
                    {% if object_list %}
                    <div class="row">
                        {% for item in object_list %}
                            <!-- product -->
                            <div class="col-md-4 col-xs-6">
                                {% include 'item/item card.html' %}

                            </div>
                            <!-- /product -->
                        {% endfor %}
                        {% else %}
                    </div>
                        <h3>No Item to display</h3>
                    {% endif %}


                </div>
                <!-- /store products -->

                <!-- store bottom filter -->
                <div class="store-filter clearfix">

                    <ul class="store-pagination">

                        {% if page_obj.has_previous %}
                            <li><a href="?page=1">&laquo;</a></li>
                            <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                            </li>
                        {% endif %}

                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                            </li>
                            <li><a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
                        {% endif %}

                    </ul>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    </div>
{% endblock %}