{% extends 'base.html' %}
{% block content %}

    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                {% include 'store/filter aside.html' %}
                <!-- /ASIDE -->

                <!-- STORE -->
                <div id="store" class="col-md-9">

                    <!-- store products -->
                    <div class="row">
                        <!-- product -->
                        {% for item in items %}
                            <div class="col-md-4 col-xs-6">
                                {% include 'item/item card.html' %}
                            </div>

                            <div class="clearfix visible-sm visible-xs"></div>
                        {% endfor %}
                        <!-- /store products -->
                    </div>
                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">
                        <ul class="store-pagination">

                            {% if page_obj.has_previous %}
                                <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
                                <li><a href="?page={{ page_obj.previous_page_number }}"><i
                                        class="fa fa-angle-left"></i></a>
                                </li>
                            {% endif %}

                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}"><i
                                        class="fa fa-angle-right"></i></a>
                                </li>
                                <li><a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a></li>
                            {% endif %}

                        </ul>
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
{% endblock %}