<div class="col-md-6">
    <div id="reviews">
        <ul class="reviews">
            {% for review in page_obj %}

                <li>
                    <div class="review-heading">
                        <h5 class="name">{{ review.user.email }}</h5>
                        <p class="date">{{ review.date_added }}</p>
                        <div class="review-rating">
                            {% if review.rating < 1 %}
                                <i class="fa fa-star-o empty"></i>
                                <i class="fa fa-star-o empty"></i>
                                <i class="fa fa-star-o empty"></i>
                                <i class="fa fa-star-o empty"></i>
                                <i class="fa fa-star-o empty"></i>
                            {% elif review.rating < 2 %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o empty"></i>
                                <i class="fa fa-star-o empty"></i>
                                <i class="fa fa-star-o empty"></i>
                                <i class="fa fa-star-o empty"></i>
                            {% elif review.rating < 3 %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o empty"></i>
                                <i class="fa fa-star-o empty"></i>
                                <i class="fa fa-star-o empty"></i>
                            {% elif review.rating < 4 %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o empty"></i>
                                <i class="fa fa-star-o empty"></i>
                            {% elif review.rating < 5 %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o empty"></i>
                            {% else %}
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            {% endif %}
                        </div>
                    </div>
                    <div class="review-body">
                        <p>{{ review.review }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <ul class="reviews-pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>